#about {
    padding-top: 170px;
    padding-bottom: 110px;
    background-size: cover;
    @include Img($pos: relative, $flow: hidden);
    @include Text($colors: $white_color, $ground: #040722, $t_align: center);
    &::before {
        content: "";
        filter: blur(60px);
        @include Img($wid: 300px, $heit: 300px, $pos: absolute, $top: 15%, $right: -191px, $z: 1, $opacity: 0.45);
        @include Text($ground: $befor_radius, $radius: 100%);
    }
    .container {
        max-width: 1140px;
        h3 {
            font-family: 'Michroma', sans-serif;
            @include Text($f_size:50px,$f_weight:$font_700_w);
        }
    }
}