$body_color:#050828;
$wid_100:100%;
$white_color:#fff;
$pink_color:#f70361;
$line_color:linear-gradient(124deg,#f95a85,#f70361,#f95420);
$font_700_w:700;
$drop_color:#f9f9f9;
$black_:#0b1124;
$rgba_255_003:rgba(255, 255, 255, 0.03);
$rgba_255_01:rgba(255, 255, 255, 0.1);
$rgba_255_04:rgba(255, 255, 255, .04);
$rgb_33_44: rgb(33 44 65 /35%);